<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chenfeng.taling.system.mapper.UserMapper">

    <resultMap type="org.chenfeng.taling.system.entity.User" id="BaseResultMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="org.chenfeng.taling.common.entity.UserRoleBean" id="userRoleBeanMap">
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="roleDescription" column="description" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="org.chenfeng.taling.common.entity.UserRolePermissionBean" id="userRolePermissionBeanMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
    </resultMap>


    <!--根据用户名查询用户信息-->
    <select id="queryByUserName" resultMap="BaseResultMap">
        select
          user_id, create_time, nick_name, password, salt, state, user_name
        from user
        where user_name = #{userName}
    </select>

    <!--根据用户名查询用户角色-->
    <select id="findUserRoleByUserName" resultMap="userRoleBeanMap">
        select sr.role_id,sr.role,sr.description,u.user_id,u.user_name from sys_role sr
        left join sys_user_role sur on sr.role_id = sur.role_id
        left join user u on u.user_id = sur.role_id
        where u.user_name = #{userName}
    </select>

    <!--根据用户名查询用户权限-->
    <select id="findUserRolePermissionByUserName" resultMap="userRolePermissionBeanMap">
        select u.user_id,u.user_name,sur.role_id,sp.permission_id,sp.permission,sp.permission_name from user u
        inner join sys_user_role sur on u.user_id = sur.user_id
        inner join sys_role_permission srp on sur.role_id = srp.role_id
        inner join sys_permission sp on srp.permission_id = sp.permission_id
        where u.user_name=#{userName}
    </select>
    <!-- 分页查询客户信息 -->
    <select id="queryAllUser" resultType="org.chenfeng.taling.system.entity.User">
        select u.user_id,u.user_name,u.nick_name,u.create_time,u.state,
        group_concat(sr.role_id) role_ids,
        group_concat(sr.role) roles
        from user u
        left join sys_user_role sur on u.user_id = sur.user_id
        left join sys_role sr on sr.role_id = sur.role_id
        ${ew.customSqlSegment}
        group by u.user_id,u.user_name,u.nick_name,u.create_time,u.state
    </select>

</mapper>