<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head('403')">
</head>
<link rel="stylesheet" th:href="@{/assets/css/error-page.css}"/>
<body>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="error-page">
    <img class="error-page-img" th:src="@{/assets/images/ic_403.png}">
    <div class="error-page-info">
        <h1>403</h1>
        <div class="error-page-info-desc">抱歉，你无权访问此页面</div>
        <div>
            <button th:ew-href="@{/index}" class="layui-btn">返回首页</button>
        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['admin'], function () {
        var $ = layui.jquery;
        var admin = layui.admin;

    });
</script>
</body>
</html>