<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head('500')">
</head>
<link rel="stylesheet" th:href="@{/assets/css/error-page.css}"/>
<body>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="error-page">
    <img class="error-page-img" th:src="@{/assets/images/ic_500.png}" width="460px">
    <div class="error-page-info">
        <h1>500</h1>
        <div class="error-page-info-desc">诶呦，服务器开了个小差~</div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['admin'], function () {
        var $ = layui.jquery;
        var admin = layui.admin;

    });
</script>
</body>
</html>